.background {
   /* height: 100%; 
    width: 100%; */
    background-image: url("hmm.jpeg");
    /* background-repeat: no-repeat, repeat; */
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}



.uu{
  background-color: rgb(0, 0, 0,0.2);
  padding: 1.5rem;
  border: 1px solid black;
  border-radius: 1rem;
  color: #fff;

}


h1 {
    font-family: 'Pattaya', sans-serif;
}

h2 {
    font-family: 'Pattaya', sans-serif;
    color: rgb(255, 255, 255);
}

.outerTask {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  border-radius: .5rem;
  margin-top: 5%;
  margin-left: 20%;
  margin-right: 20%;
  padding: 1.2rem;
  width: auto;
  min-width: none;
}

.tasklist {
  border-radius: .5rem;
}


  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); 
    padding: .5rem;
    margin: 1rem;
    text-align: center;
    background-color: #f1f1f1;

  }
 